{% extends 'base.html' %}

{% block content %}

<main class= 'container py-5'>
    <section class= 'card card-body'>
        <h1 class= 'display -1 text-center'> Levantamiento y Seguimiento de la Información </h1>
    <p>
        Nuestro software ha sido diseñado específicamente para apoyar a administradores y comités de administración de edificios y condominios, permitiéndoles realizar un levantamiento detallado de la información clave y gestionar su seguimiento de forma continua y eficiente. Esta herramienta simplifica la recolección, organización y consulta de datos, asegurando que cada tarea administrativa se cumpla en tiempo y forma. Además, su interfaz intuitiva facilita su uso para cualquier miembro del equipo, sin necesidad de conocimientos técnicos avanzados. Al implementar este software, optimizas la gestión, minimizas errores y garantizas una administración más transparente y productiva, ayudando al comité a tomar decisiones informadas con mayor rapidez.
    </p>

    <div class='text-center'>
        <a class=" btn btn-secondary" href="/signin/">
            Iniciar Sesión   
        </a>

        <a class=" btn btn-dark" href="/signup/">
            Registrarse 
        </a>
        
    </div>
    </section>
</main>

{% endblock %}